<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <th:block th:replace="~{ fragments/resources :: resources }"></th:block>
  <title>Detail Photo</title>
</head>
<body>
<th:block th:replace="~{fragments/navbar :: navbar('photos', '', false)}"></th:block>
<div class="container" th:object="${photo}">
  <h1 class="mt-5" th:text="|Photo: *{name}|">Books</h1>
  <hr/>

    <div class="row">

      <div class="col-6">
        <dl>
          <h3>Details</h3>
          <dt>Description</dt>
          <dd th:text="*{description}"></dd>
          <dt>Visible</dt>
          <dd th:text="*{visible}"></dd>
          <dt>Categories</dt>
          <dd th:each="category : *{categories}" th:text="${category.name}"></dd>
        </dl>
      </div>

      <div class="col-6">
        <div class="container-img-show">
          <img th:src="*{url}" th:alt="*{name}">
        </div>
      </div>


  </div>

  <th:block th:replace="~{fragments/btn :: button('Edit','/photos/edit/' + *{id})}"></th:block>


  <th:block th:replace="~{fragments/btn :: button('All Photos','/')}"></th:block>

</div>

</body>
</html>