.logo{
    width: 40px;
}

img {
    width: 100%;
    height: 100%;
}

.not-active{
    color: black !important;
}

.container-img{
    width: 80px;
}

.container-img-show{

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tumble{
    width: 100%;
    height: 100%;
}

td{
    vertical-align: middle;
    min-height: 76px;
}